# Note Book Basics 
* **Bold** 
* *itallic* 
* ***IB***
* Normal text
    * sublist 1
    * sublist 2
    
 > 1.order element 1
 > 2.order element 2
    
    -.[-]option 1
    -.[-]option 2
    -.[x]option 3
   
 I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"
 `printf("Hello Markdown")`<br>
 <varma9966119812@gmail.com>
![Jupyter Logo](JupyterLogo.png)

<img src ="JupyterLogo.png" style="float:left">

### Python Basics
python version 3.7

-scripting 

object oriented

functional

In [12]:
# python comments 

print("Good Afternoon","!", end="||")# basic Output
print("Hello Python")#

Good Afternoon !||Hello Python

  ###  Assignment

In [19]:
n1 = 123456 #single variable assignment

n2=n3=n4=n1 #multi variable assignment of the same value

a,b,c = 123,234,345 #multi variable assignment with differnet value

print(a,b,c)

123 234 345

### Data  type and converions
- int
- float
- string

In [51]:

type(a)
s1 = "Python"
type(s1)

f1 = 12.345
type(f1)

float(str(int(f1)))

12.0

### Arthametic Operations
- +
- -
- *
- /
- %
- **

In [57]:
n1 % 11

n2 ** 12

n3 = n2 ** 12

type(n3)
len(str(n3))

atoms = 10 ** 82
len(str(atoms))
type (str(atoms))

122321 ** 9

6130687873308026945890176790042303730066739281

In [28]:
n1 ** 12

12535637344887704516447688721417492690366247570114367492980736

### Conditionals

In [67]:
if atoms < 10 ** 9:   
    print("TRUE") #here the is not boolen value it is a string 
else:
        print("FLASE") #indetion to adding one tab space to upper line

FLASE

In [5]:
#check the number even or odd

n=129
if n % 2==0: 
    print("even")
else:
    print("not even")

not even

In [8]:
#comparison three numbers
n1 = input("enter first number")
n2 = input("enter second number")
n3 = input("enter third number")
if n1 > n2 and n1>n3:
    print(n1)
elif n2 > n3:
    print(n2)
else:
    print("the gretest number is"+n3)

enter first number67
enter second number34
enter third number56
67

In [10]:
type(False)

bool

In [11]:
type('python')

str

In [12]:
n=12
n="n1"
n

'n1'

In [17]:
a=12
print(a,type(a))

12 <class 'int'>

In [19]:
type(1234)

int

In [24]:
a="hello"
print(a, type(a))

hello <class 'str'>

In [25]:
print(a,type(a))

hello <class 'str'>

In [29]:
a= "True"
b= "False"
print(a+b)

TrueFalse

In [32]:
a=12
b=4

print(a/b)
print(a*b)
print(a+b)
print(a%b)
print(a**b)

3.0
48
16
0
20736

In [40]:
print(2 and 7)
print(7 and 10)
print(-5 and-6)
print(0 and 5)
print(5 and 0)
print(5 and 3==3)

7
10
-6
0
0
True

In [34]:
True+ True

2

In [35]:
True+False

1

In [39]:
bool(-5)

True

In [41]:
"g"+"m"

'gm'

In [42]:
"g"*4

'gggg'

In [43]:
3*"g"

'ggg'

In [45]:
str (3)+"varma"

'3varma'

In [49]:
if 0:
    print("zero")
else:
    print("not a zero")

not a zero

In [ ]:
i=0
while 1==1:
    print(i)
    
    i=i+1