In [1]:
# Print given charters as a word with starting charactor capital form and remining lower

In [8]:
s="A P S S D C"
d=s.replace(" ","")
# d.lower()
t=z.title()
print(t)

Apssdc

In [51]:
char=input()
word = char.split()
print(''.join(word).capitalize())

M A T T H E W
Matthew

In [45]:
# Print the maximum length word of given words
# Hai hello world
s=input().split()
for word in s:
    if len(max(s)) == len(word):
        print(word)

hai hello world
hello
world

In [52]:
# Print the maximum length word of given words

words=input().split() # ["hai","hello","world"]
lengths=[]
for word in words :
    lengths.append(len(word))
max_length=max(lengths)
for word in words:
    if max_length == len(word):
        print(word)

all the fruits are very more
fruits

In [ ]:
words = input().split()
max(list(map(len,words)

In [ ]:
# Print all the words which starts with the given character, If no words matches with the given condition you should print -
words=input().split()
c=input()
match =0
for word in words :
    if word.startswith(c):
        print(word)
        match+=1
if match==0:
        print(-1)

In [59]:
# Swap the case of all characters in given string except last character
a= input()
a[:-1].swapcase()+word[-1]

varma

'VARMa'

In [60]:
word= input()
count=0
for char in word:
    if char.isupper():
        count+=1
    print(count)

Helloworld
1
1
1
1
1
1
1
1
1
1

In [89]:
names=input().split() # ['ramu','varma','mary']
for name in names:
    for ch in name:
        if name.count(ch)>=1:
            print(name)
            break

ajay cv
ajay
cv

In [76]:
li=[i for i in range(10)]
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
li=[]
for i in range (10):
    li.append(i)
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
li=[i*i for i in range(10)]
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [82]:
li=[5*i for i in range(10)]
li

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [84]:
li=[5*i for i in range(1,11)]
li

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [102]:
li=[i for i in range(0,10,2)]
print(li)

[0, 2, 4, 6, 8]

In [107]:
n=5
for i in range (1,15+1):
    a=5*i
    print(a,i,n)

5 1 5
10 2 5
15 3 5
20 4 5
25 5 5
30 6 5
35 7 5
40 8 5
45 9 5
50 10 5
55 11 5
60 12 5
65 13 5
70 14 5
75 15 5

In [108]:
s= input()
li=[ch.lower() for  ch in s]
li

SDC

['s', 'd', 'c']

In [3]:
b=str(input())
n=int(input())
print(b*n)

hello
2
hellohello

In [8]:
print(sum(list(map(int,list(filter(lambda x:len(x)==3,input().split()))))))

100 200 300 5 10 4000
600

In [14]:
print(sum ([int(num) for num in input().split() if len(num)==3]))

123
123

#### [item loop conition]

In [22]:
a = int (input())
# value 400 to 500 # greate
# otherwise u need to improve
if  a>399 and a<501:
    print('Great!')
else:
    print('u need 2 improve')

410
Great!

In [24]:
a=True
if not a:
    print('hi')
else:
    print('hello')

hello

#### given all numbers 1 to 100 and the number divisable with 2 and 7

In [29]:
# given all numbers 1 to 100 and the number divisable with 2 and 7
# i =int(input)
for i in range(1,101):
    if i%2==0 and i%7==0:
        print(i)

14
28
42
56
70
84
98

In [35]:
numbers =[1 for each in range(10)]
print(numbers)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [37]:
numbers =[each for each in range(1,11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
numbers =[each for each in range(1,int(input()))if each%2==0]
print(numbers)

10
[2, 4, 6, 8]

In [3]:
student_marks = [('Akhila',[56,350,50]),('varma',[10,30,60]),('hannah',[40,50,60])]
students_dict={}
for student in student_marks:
    name= student[0]
    marks=sum(student[1])
    students_dict[name]=marks



print(students_dict)

{'Akhila': 456, 'varma': 100, 'hannah': 150}